#menumain{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   height:35px;
}

#menumain .mainmenuiner {
    height:35px;
	padding:0;
    line-height:40px;
    overflow: hidden;
    margin: 0px; 
}

#menumain a.menumain:link,#menumain a.menumain:active,#menumain a.menumain:visited{
   display:block;
   float:left;
   height:35px;
   text-decoration: none;
   text-align:center;
   width:98px;
   color:#fff;
   font:12px/40px 'SimSun',Arial,Sans-Serif;
   background:url(menu.jpg) 0px 0px no-repeat;
   margin:0px 1px 0px 0px;
}

#menumain a.menumain:hover{
   display:block;
   float:left;
   height:35px;
   color:#fff; 
   text-decoration: none;
   text-align:center;
   width:98px;
   font:12px/40px 'SimSun',Arial,Sans-Serif;
   background:url(menunow.jpg) 0px 0px no-repeat;
   margin:0px 1px 0px 0px;
} 