/* ============分类列表============== */

div.productclass_dolphin{
margin:0px;
padding:6px 0px 34px 11px;
}

a.productclass_dolphin:link,a.productclass_dolphin:visited,a.productclass_dolphin:active{
display:block;
text-decoration: none;
font:12px/38px Verdana, Arial, Helvetica, sans-serif;
height:33px;
text-align:left;
background:url(../images/dot2.jpg) 0px 0px no-repeat;
padding-left:24px;
margin:0px;
color:#333;
}

a.productclass_dolphin:hover{
display:block;
color: #ff0000; 
text-decoration: none;
}
