/* ============产品图片列表============== */
div .productlist_cyrano_lef{
	border:0px #ebebeb solid;
	padding:17px 0px 0px 7px;
}

div#demo{
	overflow:hidden;
	width:712px;
	color:#ff0000;
}

div.productlist_cyrano_lef div.fang{
background:#fff;
padding:2px;
text-align:center;
margin:0px 9px 0px 0px;
border:1px #dedfe1 solid;
}

div.productlist_cyrano_lef div.picFit{
overflow: hidden;
}

div.productlist_cyrano_lef div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

div.productlist_cyrano_lef a:link,div.productlist_cyrano_lef a:visited,div.productlist_cyrano_lef a:active{
color:#5c5c5c;
font:12px/27px arial,simsun;
text-decoration: none;
}

div.productlist_cyrano_lef a:hover{
color:#ff0000;
text-decoration: underline;
font:12px/27px arial,simsun;
}
