.dropdownmenu_dolphin{
   clear:both;
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
   height:31px;
   color:#fff;
}

.dorpmenu_dolphin{
   float:left;
   color:#fff;
   width:90px;
   height:31px;
   text-align:center;
   padding:0px;
   margin:0px 3px 0px 0px;
}

a.dorpmenu_dolphin:link,a.dorpmenu_dolphin:visited,a.dorpmenu_dolphin:active {
   color: #fff; 
   display:block;
   text-decoration: none;
   height:31px;
   font:12px/24px 'SimSun',Arial,Sans-Serif;
}

a.dorpmenu_dolphin:hover {
   color: #fff; 
   text-decoration: none;
   height:31px;
   background:url(menunow.jpg) 0px 0px no-repeat;
   font:12px/30px 'SimSun',Arial,Sans-Serif;
} 

div.subdorpmenu_dolphin{
   display:none;
   position:absolute;
}

div.subdorpmenu_dolphin ul{
   border-top:0px;
   width:115px;
   color:#2e2e2e;
   background:#eaeaea;
   border-bottom:3px #ddd solid;
}

div.subdorpmenu_dolphin li{
   padding:0px;
   list-style-type:none;
   text-align:center; 
   height:25px;
   border-bottom:1px #fff solid;
   color:#fff;
}

div.subdorpmenu_dolphin li.current{
   height:25px;
   color:#2e2e2e;
}

div.subdorpmenu_dolphin a,a.subdorpmenu_dolphin:link,a.subdorpmenu_dolphin:visited,a.subdorpmenu_dolphin:active{
   display:block;
   color:#606060; 
   text-decoration: none;
   font:12px/26px 'SimSun',Arial,Sans-Serif;
   margin:0px;
}

a.subdorpmenu_dolphin:hover {
   display:block;
   color:#141414; 
   text-decoration: none;
   font:12px/26px 'SimSun',Arial,Sans-Serif;
   margin:0px;
}